.car {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-in-out;
  display: flex;
  background: #fdfaf6;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  margin: 20px;
  border-radius: 20px;
}

.car.active {
  opacity: 1;
  transform: translateY(0);
}

.carImg {
  object-fit: contain;
  height: 450px;
  width: 450px;
  filter: drop-shadow(10px 15px 10px black);
}

.carImg.active {
  animation: swipe 3s ease-in-out 0s 1;
}

@keyframes swipe {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}

.texts {
  font-size: 20px;
}

.texts.active {
  animation: fade 2s ease-in-out 0s 1;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text-light {
  color: white;
}
